.box {
    width:75px;
    height: 75px;
    display:inline-block;
    border: 1px solid black;
}

.ship-aircraft_carrier {
    background-color: red;
}

.ship-battleship {
    background-color: black;
}

.ship-cruiser {
    background-color: gray;
}

.ship-destroyer {
    background-color: yellow;
}

.ship-submarine {
    background-color: teal;
}

.ship-hit {
    background-image: url('cross.png');
    background-size:cover;
}

.ship-miss {
    background-image: url('circle.png');
    background-size:cover;
}

